{{#
	@name Button attributes
	@desc A single button component. Faux is used when a button is displayed inside a link (for example in link blocks).
    @param* label The caption label.
    @param as The wrapping element. Defaults to `a`.
    @param button_type `Inline` if the button needs to be rendered as an inline button.
    @param faux Boolean. For faux button wrapped in an actual button/anchor.
    @param inverted Boolean. When the button needs inverted styles.
#}}

<!-- /components/_button.antlers.html -->
{{ if label }}
    <{{ as or 'a' }}
        {{ slot:attributes }}
        class="
            relative font-bold rounded focus:outline-none focus-visible:ring focus-visible:ring-offset-2 text-primary focus-visible:ring-secondary underline decoration-wavy decoration underline-offset-4 motion-safe:transition group
            {{ class }}
        "
        {{ !faux ?= { partial:snippets/button_attributes } }}
    >
        {{ link_type == 'email' ? { label | obfuscate_email } : label }}
        {{ if link_type == 'url' && target_blank }}
            <figure
                class="opacity-0 absolute w-40 border border-neutral bottom-8 left-1/2 -translate-x-1/2 translate-y-2 blur-lg group-hover:blur-none group-hover:opacity-100 group-hover:translate-y-0 transition pointer-events-none shadow-flat"
                aria-hidden="true"
            >
                {{ partial:components/picture :image="hover_image" class="" sizes="20vw" lazy="true" }}
            </figure>
        {{ /if }}
    </{{ as or 'a' }}>
{{ /if }}
<!-- End: /components/_button.antlers.html -->
