{{#
	@name Social image
	@desc The social image component.
#}}

<!-- /components/_social_image.antlers.html -->
<div id="{{ selector }}" style="{{ style }}" class="relative p-12 flex flex-col [justify-between">
    {{ get_content:id }}
        <span class="text-6xl text-primary leading-none">
            {{ trans:strings.questions_gas }}<br>{{ config:app:name }}
        </span>
        <div class="self-end font-title text-[24rem] mr-12 text-neutral uppercase leading-none -rotate-3">
            {{ trans:strings.questions_no }}
        </div>
        <div class="absolute z-behind inset-x-0 top-1/2 -translate-y-1/3 -rotate-[20deg] scale-110">
            {{ svg:crack class="w-full h-auto opacity-50" }}
        </div>
    {{ /get_content:id }}
</div>
<!-- End: /components/_social_image.antlers.html -->
