{{#
	@name Default
	@desc The default template with an outer wrapper grid as defined in tailwind.config.js. It makes sure all blocks on a page get evenly spaced without having to worry about margins or paddings.
#}}

<!-- /default.antlers.html -->
<main
    x-data="{
        index: 0,
        percentage: 0,
        finished: false
    }"
    x-effect="
        (index == {{ questions | count | subtract(1) }}) && (finished = true),
        finished == true
            ? percentage = 100
            : percentage = index * 100 / {{ questions | count | subtract(1) }}
    "
    class="flex flex-col gap-y-12 md:gap-y-16 lg:gap-y-20 xl:gap-y-24 overflow-hidden"
>
    <nav class="fixed z-20 top-8 right-8" x-cloak>
        <ul class="flex flex-col space-y-4 md:space-y-2">
            {{ questions }}
                <li>
                    <a
                        class="block w-5 h-5 rounded-full bg-white border border-primary cursor-pointer transition focus:outline-none focus-visible:ring-2 ring-secondary ring-offset-4 ring-offset-white select-none"
                        href="#{{ title | slugify }}"
                        :class="{
                            'border-white': index == {{ index }},
                            'hover:bg-primary': index != {{ index }}
                        }"
                        aria-label="{{ trans:strings.questions_step }} {{ count }}"
                    >
                        <div
                            x-show="index == {{ index }}"
                            x-transition.scale.70.opacity.duration.400ms
                            aria-hidden="true"
                        >
                            {{ svg:cross class="w-[1.1rem] h-[1.1rem] stroke-primary" }}
                        </div>
                    </a>
                </li>
            {{ /questions }}
        </ul>
    </nav>
    {{ questions }}
        <article
            class="fluid-container h-auto min-h-screen relative z-10 py-8 flex flex-col"
            id="{{ title | slugify }}"
        >
            {{ once }}
                <span id="content"></span>
            {{ /once }}
            <div
                class="flex flex-col md:flex-row pr-12 transition duration-1000"
                x-data="{ visible: false }"
                x-intersect:half="visible = true"
                x-intersect:leave="visible = false"
                :class="{ 'opacity-100 translate-y-0': visible, 'opacity-0 translate-y-8': !visible }"
                x-cloak
            >
                <div class="flex-shrink-0 w-24 pr-3 mb-4 md:mb-0 md:text-right text-neutral/30 text-2xl md:text-4xl leading-tight select-none">{{ count }}/{{ total_results }}</div>
                {{ partial:typography/h1 content="{trans:strings.questions_gas}<br>{title}" color="text-primary" }}
            </div>
            <div
                class="font-title text-[40vw] md:text-[15rem] lg:text-[18rem] text-neutral uppercase leading-none -rotate-3 transition duration-1000"
                x-data="{ visible: false }"
                x-intersect:full="visible = true"
                x-intersect:leave="visible = false"
                :class="{ 'opacity-100 scale-100 translate-x-0': visible, 'opacity-0 scale-110 translate-x-8': !visible }"
                x-cloak
            >
                {{ trans:strings.questions_no }}
            </div>
            <div
                x-data="{ visible: false }"
                x-intersect:half="visible = true, index = {{ index }}, history.pushState({}, '', '#{{ title | slugify }}')"
                x-intersect:leave="visible = false"
                :class="{ 'opacity-100 translate-y-0': visible, 'opacity-0 translate-y-8': !visible }"
                x-cloak
                class="md:ml-24 max-w-[70ch] pr-8 mt-12 transition duration-1000"
            >
                {{ partial:typography/prose as="div" class="md:prose-lg mb-6" }}
                    {{ text }}
                {{ /partial:typography/prose }}
                {{ partial:components/buttons }}
            </div>
        </article>
    {{ /questions }}

    <nav class="fixed z-50 bottom-8 right-8 flex flex-col space-y-4 md:flex-row md:space-y-0 md:space-x-4">
        <button
            x-show="navigator.share"
            @click="
                navigator.share({
                    title: document.title,
                    url: window.location.href
                })
            "
            class="flex items-center justify-center py-2 px-3 rounded-full bg-secondary hover:bg-primary text-white focus:outline-none focus-visible:ring-2 ring-primary ring-offset-2"
        >{{ trans:strings.share }}</button>
    </nav>

    <div class="fixed inset-0" aria-hidden="true">
        <div
            class="absolute top-72 inset-x-0 opacity-30 [clip-path:polygon(0_0,_0_0,_0_100%,_0_100%)]"
            x-effect="
                gsap.to($el, {
                    clipPath: `polygon(0% 0%, ${percentage}% 0%, ${percentage}% 100%, 0% 100%)`,
                    ease: 'rough',
                    duration: .4,
                })
            "
        >
            {{ svg:crack alt="" aria-hidden="true" class="w-full h-auto" }}
        </div>
        <div
            class="absolute inset-y-0 left-0 h-full w-12 bg-gradient-to-r from-white/0 to-white -translate-x-full"
            x-effect="
                gsap.to($el, {
                    left: `${percentage}%`,
                    ease: 'rough',
                    duration: .4,
                })
            "
        ></div>
        {{ svg:corner_crack alt="" aria-hidden="true" class="absolute top-0 right-0 w-1/2 md:w-1/4 h-auto opacity-10" }}
    </div>
</main>
<!-- End: /default.antlers.html -->
