{{#
	@name Main navigation
	@desc The sites main navigation rendered on each page. There's a desktop and a mobile version.
#}}

<nav
    x-data="{ mobileNavOpen: false }"
    class=""
    aria-label="{{ trans:strings.main_navigation }}"
    x-cloak
>
    <div class="fixed z-50 bottom-0 right-0 mr-8 mb-safe flex space-x-4">
        <button
            x-show="navigator.share"
            @click="
                navigator.share({
                    title: document.title,
                    url: window.location.href
                })
            "
            class="w-16 flex items-center justify-center py-2 rounded-full bg-secondary text-white focus:outline-none focus-visible:ring-2 ring-primary ring-offset-2"
        >{{ trans:strings.share }}</button>
        <button
            @click.prevent="mobileNavOpen = !mobileNavOpen"
            class="w-16 flex items-center justify-center py-2 rounded-full focus:outline-none focus-visible:ring-2 ring-primary ring-offset-2"
            :class="{ 'bg-primary text-white': !mobileNavOpen, 'bg-white text-primary': mobileNavOpen }"
            :aria-label="
            mobileNavOpen
                ? '{{ trans:strings.nav_close }}'
                : '{{ trans:strings.nav_open }}'
            "
            :aria-expanded="mobileNavOpen"
            x-text="mobileNavOpen ? '{{ trans:strings.close }}' : '{{ trans:strings.menu }}'"
        ></button>
    </div>

    <div
        class="fixed inset-0 z-[45] pt-8 px-8 pb-12 flex flex-col justify-end bg-primary"
        x-show="mobileNavOpen"
        x-trap.inert.noscroll="mobileNavOpen"
    >
        <ul class="flex flex-col py-2 space-y-4 overflow-auto">
            {{ nav:main max_depth="2" include_home="true" select="title|url" }}
                <li
                    {{ if children }}
                        x-data="{ subnavOpen: false }"
                        @focusin.window="!$refs.subnav.contains($event.target) && (subnavOpen = false)"
                    {{ /if }}
                    class="leading-none"
                >
                    <a
                        class="w-full py-2 flex items-center space-x-1 font-bold uppercase tracking-wide hover:text-primary {{ is_current || is_parent ? 'text-primary' : 'text-neutral' }} focus:outline-none focus-visible:ring-2 ring-primary"
                        {{ if children }}
                            href="#"
                            @click.prevent="subnavOpen = !subnavOpen"
                            @click.outside="subnavOpen = false"
                            :aria-label="subnavOpen
                                ? '{{ trans:strings.subnav_close }}'
                                : '{{ trans:strings.subnav_open }}'"
                            :aria-expanded="subnavOpen"
                        {{ else }}
                            href="{{ url }}"
                        {{ /if }}
                    >
                        <span>{{ title }}</span>
                        {{ if children }}
                            <svg
                                class="w-3 h-2 overflow-visible stroke-current text-neutral"
                                :class="{ 'rotate-180': subnavOpen }"
                                aria-hidden="true"
                                stroke-width="20"
                                viewBox="0 0 140 140"><path d="M135.625 42.648l-62.533 62.527a4.37 4.37 0 01-6.184 0L4.375 42.648" fill="none" stroke-linecap="round" stroke-linejoin="round"
                            /></svg>
                        {{ /if }}
                    </a>
                    {{ if children }}
                        <ul
                            x-show="subnavOpen"
                            x-ref="subnav"
                            class="flex flex-col items-stretch space-y-2"
                            x-collapse
                        >
                            {{ children }}
                                <li class="{{ first ?= 'mt-2' }}">
                                    <a
                                        class="block py-2 whitespace-nowrap font-bold hover:text-primary {{ is_current || is_parent ? 'text-primary' : 'text-neutral' }} focus:outline-none focus-visible:ring-2 ring-primary"
                                        href="{{ url }}">
                                        {{ title }}
                                    </a>
                                </li>
                            {{ /children }}
                        </ul>
                    {{ /if }}
                </li>
            {{ /nav:main }}
        </ul>
    </div>
</nav>
