/* If you don't want to use the JS in CSS syntax from `tailwind.config.site.js` you can add your own custom CSS here. Use different layers to make sure your CSS either get's purged or not: https://tailwindcss.com/docs/functions-and-directives#layer. CSS in the base layer won't get purged. */

@layer base {
    @font-face {
        font-family: 'Citizen';
        src: url('/public/fonts/citizen-bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Citizen';
        src: url('/public/fonts/citizen-light.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Handelson';
        src: url('/public/fonts/handelson-two.woff2') format('woff2');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }
}

@layer components {

}

@layer utilities {

}
