{{#
	@name Questions
	@desc The Questions page builder block.
    @set page.page_builder.questions
#}}

<!-- /page_builder/_questions.antlers.html -->
<div class="relative w-full flex items-start" x-data="{ index: 0 }">
    <div
        class="fixed top-[33vh] md:top-1/2 z-20 fluid-container font-title text-[10rem] lg:text-[20rem] text-neutral uppercase leading-none md:-translate-y-1/2"
        aria-hidden="true"
    >
        {{ trans:strings.questions_no }}
    </div>

    <div class="flex-1">
        {{ block:questions }}
            <section class="relative w-full h-screen snap-start" id="{{ title | slugify }}">
                <article class="relative z-30 fluid-container h-full py-6 pb-12 md:pb-6 flex flex-col justify-between">
                    <div class="flex">
                        <div class="flex flex-col md:flex-row -m-4 md:m-0  p-6 bg-white/90 backdrop-blur-xl rounded-lg">
                            <div class="w-16 mb-4 md:mb-0 text-neutral/30 text-2xl md:text-3xl">{{ count }}/{{ total_results }}</div>
                            {{ partial:typography/h1 content="{trans:strings.questions_gas}<br>{title}" color="text-primary font-light" }}
                        </div>
                    </div>
                    <span class="sr-only">{{ trans:strings.questions_no }}</span>
                    <div class="md:ml-16 -m-4 md:m-0 p-6 max-w-[30rem] bg-white/90 backdrop-blur-xl rounded-lg">
                        {{ partial:typography/prose as="div" class="md:prose-lg mb-6" }}
                            {{ text }}
                        {{ /partial:typography/prose }}
                        {{ partial:components/buttons }}
                    </div>
                </article>

                <div
                    x-data="{ visible: false }"
                    x-intersect:enter.full="
                        visible = true,
                        index = {{ index }},
                        $nextTick(() => { history.pushState({}, '', '#{{ title | slugify }}')})"
                    "
                    x-intersect:leave="visible = false"
                    :class="{
                        '[clip-path:polygon(0_0,_0_0,_0_100%,_0%_100%)]': !visible,
                        '[clip-path:polygon(100%_0,_0_0,_0_100%,_100%_100%)]': visible
                    }"
                    class="absolute z-10 left-0 -right-14 top-[50vh] -translate-y-1/2 transition-[clip-path] duration-[2400ms]"
                >
                    {{ svg:crack class="w-full h-auto opacity-30" }}
                </div>
            </section>
        {{ /block:questions }}
    </div>

    <nav class="sticky z-40 top-6 pt-2 pr-8">
        <ul class="flex flex-col space-y-2">
            {{ block:questions }}
                <li>
                    <a
                        class="block w-6 h-6 rounded-full bg-white hover:bg-primary border border-primary transition-colors"
                        :class="{
                            'bg-primary': index == {{ index }},
                            'bg-white hover:bg-primary': index != {{ index}}
                        }"
                        @click.prevent="document.querySelector('#{{ title | slugify }}').scrollIntoView({behavior: 'smooth'})"
                        href="#{{ title | slugify }}"
                        aria-label="{{ trans:strings.questions_step }} {{ count }}">
                    </a>
                </li>
            {{ /block:questions }}
        </ul>
    </nav>
</div>
<!-- End: /page_builder/_questions.antlers.html -->
